<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'><ion-back-button defaultHref="/"></ion-back-button></ion-buttons>
    <ion-segment  (ionChange)="segmentChanged()" [(ngModel)]="segment" color="warning" scrollable>
        <ion-segment-button value="0">
          <ion-label>Pedoman Maba</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Pedoman Kambing</ion-label>
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="choice">
      <ion-slides pager='true' direction='vertical' #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
          <ion-slide>
              <ion-content>
                <ion-card>
                  <ion-card-header>
                      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                      <ion-card-title>Card Title</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <img src="assets/img/1.png" tappable >
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
              </ion-content>
          </ion-slide>
          <ion-slide>
            second
          </ion-slide>
      </ion-slides>

      <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" color="warning" scrollable>
          <ion-segment-button value="0">
            <ion-icon src="assets/icon/custom/md-custom-m.svg" ></ion-icon>
            <ion-label>Aturan</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-icon name="camera"></ion-icon>
            <ion-label>Etika</ion-label>
          </ion-segment-button>
      </ion-segment>
  </div>
  
    
</ion-content>
