  ion-slide {
    height: calc(92vh); //83vh default
    overflow-y: scroll;
  }

  
p{
  font-size : 3.6vw;
}

  

  

  
  ion-title {
    color: black;
    font-family: 'Lobster', cursive;
  }  

  
  