<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title class="philosopher">Tambah Catatan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="light">
            <ion-label>Peserta</ion-label>
          </ion-card-header>
          <div *ngFor="let it of dataa; let i=index" (click)="showNote(it.ID, it.NAMA)">
            <ion-item *ngIf="i>1" button="true" ios="">
              <ion-thumbnail slot="end" margin-left margin-bottom>
                <ion-avatar>
                  <img src="{{it.FOTO}}">
                </ion-avatar>
              </ion-thumbnail>
              <ion-label text-start>
                <ion-card-title>{{it.NAMA}}</ion-card-title>
                <ion-card-subtitle>{{it.PRODI}} ({{it.FAKULTAS}})</ion-card-subtitle>
              </ion-label>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>