// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
@import '../theme/icons';


@font-face {
  font-family: 'sanspro';
  src: url('../assets/font/sanspro.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url('../assets/font/rubik.ttf');
  font-weight: 200;
  font-style: normal;
}

* ::-webkit-scrollbar {
    display: none;
  }
body {
    -webkit-user-select: text;
    user-select: text;
}

.jockey-one {
  color: #6670B1;
  font-family: 'Jockey One', sans-serif;
}
.malvie {
  color: #A45679;
  font-family: 'Malvie';
}
.philosopher {
  color: black;
  font-family: 'Philosopher', sans-serif;
}
.philosopher-1 {
  color: white;
  font-family: 'Philosopher', sans-serif;
}
.roboto {
  font-family: 'Roboto Slab', serif;
  color: black;
}

.alcubierre {
  font-family: 'Alcubierre', sans-serif;
  color: black;
}


#ion-text-center{

  text-align: center;

}

