<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title  class="philosopher">Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-card>
    
        <img src="assets/img/agenda-2.png"> 
    
  </ion-card>
  <ion-card>
    <ion-card-content class="ion-text-center">

        <p class="roboto">Welcome to Solo
          <br>
            2 Agustus 2019
        </p>
        <ion-list>
          <ion-item *ngFor="let entry of line">
            <ion-label >{{entry.val}}</ion-label>
            <ion-toggle (ionChange)="checkeda(1)" slot="end" [(ngModel)]="entry.isChecked"></ion-toggle>
          </ion-item>
        </ion-list>

        <p class="roboto">Agenda di Fakultas
            <br>
              2 - 5 Agustus 2019
          </p>
          <ion-list>
            <ion-item *ngFor="let entry of line1">
              <ion-label>{{entry.val}}</ion-label>
              <ion-toggle (ionChange)="checkeda(2)" slot="end" [(ngModel)]="entry.isChecked"></ion-toggle>
            </ion-item>
          </ion-list>

          <p class="roboto">Agenda di Universitas
              <br>
                6 - 7 Agustus 2019
            </p>
            <ion-list>
              <ion-item *ngFor="let entry of line2">
                <ion-label>{{entry.val}}</ion-label>
                <ion-toggle (ionChange)="checkeda(3)" slot="end" [(ngModel)]="entry.isChecked"></ion-toggle>
              </ion-item>
            </ion-list>

        <p class="roboto">Agenda di Universitas
          <br>
            13 Agustus 2019
        </p>
        <ion-list>
          <ion-item>
            <ion-label>{{form[0].val}}</ion-label>
            <ion-toggle (ionChange)="checkeda(4)" slot="end" [(ngModel)]="form[0].isChecked"></ion-toggle>
          </ion-item>
		  <ion-item>
            <ion-label>{{form[1].val}}</ion-label>
            <ion-toggle (ionChange)="checkeda(5)" slot="end" [(ngModel)]="form[1].isChecked"></ion-toggle>
          </ion-item>
        </ion-list>

        <p class="roboto">Agenda di Univesitas
            <br>
            14 Agustus 2019
        </p>
        <ion-list>
          <ion-item *ngFor="let entry of forms">
            <ion-label>{{entry.val}}</ion-label>
            <ion-toggle (ionChange)="checkeda(11)" slot="end" [(ngModel)]="entry.isChecked"></ion-toggle>
          </ion-item>
        </ion-list>

        <p class="roboto">Agenda di Fakultas
            <br>
            15 - 16 Agustus 2019
        </p>
        <ion-list>
          <ion-item *ngFor="let entry of form1">
            <ion-label>{{entry.val}}</ion-label>
            <ion-toggle (ionChange)="checkeda(6)" slot="end" [(ngModel)]="entry.isChecked"></ion-toggle>
          </ion-item>
        </ion-list>

        <p class="roboto">Agenda di Universitas
              <br>
              17 Agustus 2019
        </p>
        <ion-list>
          <ion-item>
            <ion-label>{{form2[0].val}}</ion-label>
            <ion-toggle (ionChange)="checkeda(7)" slot="end" [(ngModel)]="form2[0].isChecked"></ion-toggle>
          </ion-item>
		  <ion-item>
            <ion-label>{{form2[1].val}}</ion-label>
            <ion-toggle (ionChange)="checkeda(8)" slot="end" [(ngModel)]="form2[1].isChecked"></ion-toggle>
          </ion-item>
		  <ion-item>
            <ion-label>{{form2[2].val}}</ion-label>
            <ion-toggle (ionChange)="checkeda(9)" slot="end" [(ngModel)]="form2[2].isChecked"></ion-toggle>
          </ion-item>
        </ion-list>

        <p class="roboto">Agenda di Universitas
                <br>
                18 Agustus 2019
        </p>
        <ion-list>
          <ion-item *ngFor="let entry of form3">
            <ion-label>{{entry.val}}</ion-label>
            <ion-toggle (ionChange)="checkeda(10)" slot="end" [(ngModel)]="entry.isChecked"></ion-toggle>
          </ion-item>
        </ion-list>
    </ion-card-content>

    
  </ion-card>
</ion-content>
