<ion-header>
    <ion-toolbar>
        <ion-toolbar>
            <ion-buttons slot='start'><ion-back-button defaultHref="/tabs"></ion-back-button></ion-buttons>
            <ion-title>Tentang Aplikasi</ion-title>
        </ion-toolbar>
    </ion-toolbar>
  </ion-header>

<ion-content style='background : url(assets/img/symphony.png);'>
	<div style='background : url(assets/img/symphony.png); width: 100vw; height : 93vh;'>
		<ion-list style='background : transparent'>
			<ion-item lines='none' style='background : transparent; --background : rgba(255,255,255,0.7)'>
			<ion-grid style='background : transparent'>
				<ion-row style='background : transparent'>
					<ion-col text-center size="6" offset="3" style='padding : 0 0 0 0; background : transparent'>
						<img style='height : 50vw; width: 40vw;' src="assets/icon/icon.png" tappable >
					</ion-col>
				</ion-row>
			</ion-grid>
			</ion-item >
			<ion-item lines='none' style='--background : rgba(255,255,255,0.7)'>
				<p slot='start' style='color : grey'>Nama Aplikasi</p><p style='text-align : right; color : grey'>Panerus Kabim</p>
			</ion-item>
			<ion-item lines='none' style='--background : rgba(255,255,255,0.7)'>
				<p slot='start' style='color : grey'>Versi</p><p style='text-align : right; color : grey'>Beta 1.0.0</p>
			</ion-item>
			<ion-item lines='none' style='--background : rgba(255,255,255,0.7)'>
				<p slot='start' style='color : grey'>Deskripsi</p><p style='text-align : right; color : grey'>App Khusus Manggala</p>
			</ion-item>
			<ion-item lines='none' style='--background : rgba(255,255,255,0.7)'>
				<p slot='start' style='color : grey'>Pengembang</p><p style='text-align : right; color : grey'>Belantosuro</p>
			</ion-item>
			<ion-item lines='none' style='--background : rgba(255,255,255,0.7)'>
				<p slot='start' style='color : grey'>E-mail</p><p style='text-align : right; color : grey'>purwabrata@gmail.com</p>
			</ion-item>
			<ion-item lines='none' style='--background : rgba(255,255,255,0.7)'>
				<p style='text-align : center; color : grey'></p>
			</ion-item>
			<ion-item lines='none' style='--background : rgba(255,255,255,0.7)'>
				<p style='text-align : center; color : grey'>Copyright ©2019 pkkmb.uns.ac.id all right reserved</p>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
